In [17]:
import pandas as pd
import numpy as np
df=pd.read_csv("D:\\Academic\\sem 6\\ML\\Lab\\Lab 1\\bike-sharing-daily.csv")

In [18]:
df.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [19]:
df.shape

(731, 16)

In [20]:
df.describe()

,instant,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,366.000000,2.496580,0.500684,6.519836,0.028728,2.997264,0.683995,1.395349,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,211.165812,1.110807,0.500342,3.451913,0.167155,2.004787,0.465233,0.544894,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,183.500000,2.000000,0.000000,4.000000,0.000000,1.000000,0.000000,1.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,366.000000,3.000000,1.000000,7.000000,0.000000,3.000000,1.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,548.500000,3.000000,1.000000,10.000000,0.000000,5.000000,1.000000,2.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,731.000000,4.000000,1.000000,12.000000,1.000000,6.000000,1.000000,3.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

In [21]:
df.isna().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
training,testing=train_test_split(df,test_size=0.30,random_state=24)

In [24]:
training.shape

(511, 16)

In [25]:
testing.shape

(220, 16)

In [26]:
training.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 511 entries, 338 to 418
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     511 non-null    int64
 1   dteday      511 non-null    object
 2   season      511 non-null    int64
 3   yr          511 non-null    int64
 4   mnth        511 non-null    int64
 5   holiday     511 non-null    int64
 6   weekday     511 non-null    int64
 7   workingday  511 non-null    int64
 8   weathersit  511 non-null    int64
 9   temp        511 non-null    float64
 10  atemp       511 non-null    float64
 11  hum         511 non-null    float64
 12  windspeed   511 non-null    float64
 13  casual      511 non-null    int64
 14  registered  511 non-null    int64
 15  cnt         511 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 67.9+ KB

In [27]:
testing.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 307 to 278
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     220 non-null    int64
 1   dteday      220 non-null    object
 2   season      220 non-null    int64
 3   yr          220 non-null    int64
 4   mnth        220 non-null    int64
 5   holiday     220 non-null    int64
 6   weekday     220 non-null    int64
 7   workingday  220 non-null    int64
 8   weathersit  220 non-null    int64
 9   temp        220 non-null    float64
 10  atemp       220 non-null    float64
 11  hum         220 non-null    float64
 12  windspeed   220 non-null    float64
 13  casual      220 non-null    int64
 14  registered  220 non-null    int64
 15  cnt         220 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 29.2+ KB